<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />

    <script
      src="https://code.jquery.com/jquery-3.5.1.min.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap"
      rel="stylesheet"
    />

    <title>SW 사관학교 정글 TEST | 나홀로 메모장 Ver 2.0</title>

    <style>
      * {
        font-family: "Nanum Gothic Coding", monospace;
      }

      textarea {
        margin-top: 10px;
      }

      .btn-success {
        margin-top: 10px;
      }

      .wrap {
        width: 900px;
        margin: auto;
      }

      .input-memo {
        width: 500px;
      }

      #version {
        margin-bottom: 25px;
      }

      .new-memo {
        padding: 10px 10px 10px 10px;
      }
    </style>
    <script>
      $(document).ready(function () {
        $("#card-list").html("");
        showMemo();
      });

      function showMemo() {
        $.ajax({
          type: "GET",
          url: "/api/show",
          data: {},
          success: function (response) {
            let memos = JSON.parse(response["memos"]);
            for (let i = 0; i < memos.length; i++) {
              makeCard(
                memos[i]["_id"].$oid,
                memos[i]["title"],
                memos[i]["comment"]
              );
            }
          },
        });
      }

      function makeCard(_id, title, comment) {
        let tempHtml = `<div class="card" style="width: 18rem">
  <div class="card-body" id="memo-${_id}">
    <h5 class="card-title">${title}</h5>
    <hr />
    <p class="card-text">${comment}</p>
    <button
      onclick="transformMemo('${_id}')"
      id="btn-post-box"
      type="button"
      class="btn btn-info"
      style="padding: 5px; font-size: small"
    >수정</button>
    <button
      onclick="deleteMemo('${_id}')"
      id="btn-post-box"
      type="button"
      class="btn btn-secondary"
      style="padding: 5px; font-size: small"
    >삭제</button>
  </div>
  <div class="new-memo" id="new-memo-${_id}" style="display: none">
    <input
      type="text"
      class="form-control new-title"
      id="new-title-${_id}"
      value="${title}"
    />
    <textarea class="form-control new-text" id="new-text-${_id}" rows="3">${comment}</textarea
    >
    <p class="lead">
      <button
        onclick="updateMemo('${_id}')"
        id="btn-post-box"
        type="submit"
        class="btn btn-success"
      >저장</button>
    </p>
  </div>
</div>`;

        $("#card-list").append(tempHtml);
      }

      function postMemo() {
        let title = $("#memo-title").val();
        let comment = $("#memo-content").val();

        $.ajax({
          type: "POST",
          url: "/api/post",
          data: { title_give: title, comment_give: comment },
          success: function (response) {
            if (response["result"] === "success") {
              alert("저장 완료!");
              window.location.reload();
            } else {
              alert("오류가 발생했습니다.");
            }
          },
        });
      }

      function transformMemo(_id) {
        $("#memo-" + _id).hide();
        $("#new-memo-" + _id).show();
      }

      function updateMemo(_id) {
        let new_title = $("#new-title-" + _id).val();
        let new_text = $("#new-text-" + _id).val();

        $.ajax({
          type: "POST",
          url: "/api/update",
          data: {
            new_title_give: new_title,
            new_text_give: new_text,
            _id_give: _id,
          },
          success: function (response) {
            if (response["result"] === "success") {
              alert("수정 완료!");
              window.location.reload();
            } else {
              alert("오류가 발생했습니다.");
            }
          },
        });
      }

      function deleteMemo(_id) {
        $.ajax({
          type: "POST",
          url: "/api/delete",
          data: { _id_give: _id },
          success: function (response) {
            if (response["result"] === "success") {
              alert("삭제 완료!");
              window.location.reload();
            } else {
              alert("오류가 발생했습니다.");
            }
          },
        });
      }

      function hello() {
        alert("SW사관학교 정글 4기 입학 과제입니다.");
      }
    </script>
  </head>
  <body>
    <div class="wrap">
      <div class="jumbotron">
        <div class="title">
          <label class="display-4">나홀로 메모장</label>
          <button
            onclick="hello()"
            type="button"
            class="btn btn-secondary btn-lg"
            id="version"
          >
            Ver 2.0
          </button>
        </div>
        <div class="input-memo">
          <input
            type="email"
            class="form-control"
            id="memo-title"
            placeholder="제목을 입력하세요."
            style="margin-bottom: 20px"
          />
          <textarea
            class="form-control"
            id="memo-content"
            rows="3"
            placeholder="내용을 입력하세요."
            style="margin-bottom: 20px"
          ></textarea>
          <p class="lead">
            <button
              onclick="postMemo()"
              id="btn-post-box"
              type="submit"
              class="btn btn-primary"
            >
              저장하기
            </button>
          </p>
        </div>
      </div>

      <div class="card-columns" id="card-list"></div>
    </div>
  </body>
</html>
